<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/table.css">
</head>
<body>
    <h1>검색 결과</h1>
    <table>
        <tr>
            <td>no</td>
            <td>작성자</td>
            <td>제목</td>
            <td>내용</td>
            <td>작성일</td>
        </tr>
        <% docs.forEach((list)=>{ %>
            <tr>
                <td><%= list.id %></td>
                <td><%= list.name %></td>
                <td><%= list.title %></td>
                <td><%= list.content %></td>
                <td><%= list.regdate %></td>
            </tr>
        <% }) %>
        
    </table>
</body>
</html>